In [1]:
import pandas as pd

In [9]:
columns=['ESTACION', 'MAGNITUD', 'TECNICA', 'DATO HORARIO', 'AÑO', 'MES', 'DIA', 'VALOR DIA 1', 'VALOR DIA 2', 'VALOR DIA 3', 'VALOR DIA 4']
main = pd.read_fwf('./Madrid/datos2016.txt', widths=[8,2,2,2,2,2,6,6,6,6], header=None, nwors = 3, names=columns)
data.head(1)

,ESTACION,MAGNITUD,TECNICA,DATO HORARIO,AÑO,MES,DIA,VALOR DIA 1,VALOR DIA 2,VALOR DIA 3,VALOR DIA 4
0,28079004,1,38,4,15,1,00015V,00019V,00017V,00021V,NaN

In [10]:
len(main)

1488

In [16]:
l = ! ls ./Madrid/
l

['datos2001.txt',
 'datos2002.txt',
 'datos2003.txt',
 'datos2004.txt',
 'datos2005.txt',
 'datos2006.txt',
 'datos2007.txt',
 'datos2008.txt',
 'datos2009.txt',
 'datos2010.txt',
 'datos2011.txt',
 'datos2012.txt',
 'datos2013.txt',
 'datos2014.txt',
 'datos2015.txt',
 'datos2016.txt',
 'datos2017.txt']

In [17]:
for ls in l:
    data = pd.read_fwf('./Madrid/'+l, widths=[8,2,2,2,2,2,6,6,6,6], header=None, nwors = 3, names=columns)
    main =pd.concat([main,data])
    
len(main)

TypeError: cannot concatenate 'str' and 'SList' objects

In [6]:
data.describe()

,ESTACION,MAGNITUD,TECNICA,DATO HORARIO,AÑO,MES,VALOR DIA 4
count,1.488000e+03,1488.000000,1488.000000,1488.0,1488.0,1488.000000,0.0
mean,2.807903e+07,12.645161,26.193548,4.0,15.0,6.500000,NaN
std,1.788314e+01,10.604228,21.713428,0.0,0.0,3.453213,NaN
min,2.807900e+07,1.000000,2.000000,4.0,15.0,1.000000,NaN
25%,2.807902e+07,7.000000,8.000000,4.0,15.0,3.750000,NaN
50%,2.807904e+07,8.000000,8.000000,4.0,15.0,6.500000,NaN
75%,2.807905e+07,14.000000,47.000000,4.0,15.0,9.250000,NaN
max,2.807906e+07,44.000000,59.000000,4.0,15.0,12.000000,NaN