In [20]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
%matplotlib inline

In [29]:
# Creamos los nombres de las columnas.
columns=['ESTACION', 'MAGNITUD', 'TECNICA', 'DATO HORARIO', 'ANIO', 'MES', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

# Creamos el DataFrame
data = pd.read_csv('./bigFile.csv', sep=',', low_memory=False, index_col=['Unnamed: 0'])

data.head(10)

,ESTACION,MAGNITUD,TECNICA,DATO HORARIO,ANIO,MES,1,2,3,4,...,22,23,24,25,26,27,28,29,30,31
0,28079001,1,38,4,1,1,0.00,0.00,16.31,17.04,...,38.28,17.27,18.86,15.91,12.40,19.51,14.93,30.14,52.09,51.93
1,28079001,1,38,4,1,2,42.59,53.49,46.64,23.04,...,70.90,54.40,22.71,15.07,26.85,22.15,25.24,0.00,0.00,0.00
2,28079001,1,38,4,1,3,19.01,17.30,13.40,10.58,...,15.41,31.62,13.48,6.65,9.94,13.57,15.91,13.81,16.21,18.24
3,28079001,1,38,4,1,4,9.77,15.25,12.29,11.29,...,14.35,11.27,11.34,13.20,14.70,14.66,12.20,17.29,11.26,0.00
4,28079001,1,38,4,1,5,7.18,8.70,17.22,18.64,...,12.50,15.35,14.80,16.16,12.85,9.28,23.50,18.99,17.80,19.62
5,28079001,1,38,4,1,6,14.61,12.68,13.67,17.04,...,22.62,23.33,19.97,16.58,15.66,13.83,13.95,24.35,23.51,0.00
6,28079001,1,38,4,1,7,24.48,17.74,16.13,15.25,...,12.18,17.31,13.55,15.15,13.25,11.97,8.79,6.02,12.13,11.11
7,28079001,1,38,4,1,8,10.59,8.36,9.82,7.26,...,15.72,23.56,29.44,11.85,7.42,10.64,9.35,8.88,8.33,8.70
8,28079001,1,38,4,1,9,7.18,11.21,9.92,10.42,...,6.19,5.23,8.55,12.13,16.67,15.56,9.33,11.41,9.95,0.00
9,28079001,1,38,4,1,10,15.71,21.46,12.56,13.20,...,11.70,10.75,17.47,0.00,0.00,21.97,15.66,23.89,27.48,23.90

In [81]:
d=2
n=31

datetime = datetime.strptime('200'+str(data['ANIO'][d])+'-'+str(data['MES'][d])+'-'+str(n), '%Y-%m-%d')
       
dataDate=pd.DataFrame({'DATE':datetime,'ESTACION':[data['ESTACION'][d]], 'MAGNITUD':[data['MAGNITUD'][d]] ,'TECNICA': [data['TECNICA'][d]],'DATO HORARIO':[data['DATO HORARIO'][d]],'VALUE': [data[str(n)][d]]})
dataDate

        DATE  DATO HORARIO  ESTACION  MAGNITUD  TECNICA  VALUE
0 2001-03-31             4  28079001         1       38  18.24

In [74]:
# Hay que crear una fila por cada dÃ­a.
from datetime import datetime
finalData = pd.DataFrame(columns=['DATE','ESTACION','MAGNITUD','TECNICA','DATO HORARIO','VALUE'])

for d in data.index.values:
    for n in range(1,32):
        if data['ANIO'][d]<10:
            datetime = datetime.strptime('200'+str(data['ANIO'][d])+'-'+str(data['MES'][d])+'-'+str(n), '%Y-%m-%d')
        else:
            datetime = datetime.strptime('20'+str(data['ANIO'][d])+'-'+str(data['MES'][d])+'-'+str(n), '%Y-%m-%d')
        dataDate=pd.DataFrame({'DATE':datetime,'ESTACION':[data['ESTACION'][d]], 'MAGNITUD':[data['MAGNITUD'][d]] ,'TECNICA': [data['TECNICA'][d]],'DATO HORARIO':[data['DATO HORARIO'][d]],'VALUE': [data[str(n)][d]]})
        finalData= pd.concat([finalData, dataDate])

ValueError: day is out of range for month