In [1]:
import pandas as pd
from datetime import datetime

In [60]:
# Creamos los nombres de las columnas.
columns=['ESTACION', 'MAGNITUD', 'TECNICA', 'DATO HORARIO', 'ANIO', 'MES', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

# Creamos el DataFrame
data = pd.read_csv('./bigFile.csv', sep=',', low_memory=False, index_col=['Unnamed: 0'])

data.head(3)

,ESTACION,MAGNITUD,TECNICA,DATO HORARIO,ANIO,MES,1,2,3,4,...,22,23,24,25,26,27,28,29,30,31
0,28079001,1,38,4,1,1,0.00,0.00,16.31,17.04,...,38.28,17.27,18.86,15.91,12.40,19.51,14.93,30.14,52.09,51.93
1,28079001,1,38,4,1,2,42.59,53.49,46.64,23.04,...,70.90,54.40,22.71,15.07,26.85,22.15,25.24,0.00,0.00,0.00
2,28079001,1,38,4,1,3,19.01,17.30,13.40,10.58,...,15.41,31.62,13.48,6.65,9.94,13.57,15.91,13.81,16.21,18.24

In [61]:
# Hay que crear una fila por cada día.

finalData = pd.DataFrame(columns=['DATE','ESTACION','MAGNITUD','TECNICA','VALUE'])

for d in data.index.values:
    dt={}
    for n in range(1,32):
        try:
            if data[str(n)][d] != 0:
                if data['ANIO'][d]<10:
                    datetime = datetime.strptime('200'+str(data['ANIO'][d])+'-'+str(data['MES'][d])+'-'+str(n)+' '+str(data['DATO HORARIO'][d]), '%Y-%m-%d %H')
                else:
                    datetime = datetime.strptime('20'+str(data['ANIO'][d])+'-'+str(data['MES'][d])+'-'+str(n)+' '+str(data['DATO HORARIO'][d]), '%Y-%m-%d %H')
                
                dt[n]={'DATE':datetime,'ESTACION':data['ESTACION'][d],'MAGNITUD':data['MAGNITUD'][d],'TECNICA':data['TECNICA'][d],'VALUE': float(data[str(n)][d])}
                
        except:
            dt[n]={'DATE':datetime,'ESTACION':data['ESTACION'][d],'MAGNITUD':data['MAGNITUD'][d],'TECNICA':data['TECNICA'][d],'VALUE': float(data[str(n)][d])}
                
            print(dt)
    dt= pd.DataFrame.from_dict(dt, orient='index')
    finalData= pd.concat([finalData, dt], ignore_index=True)
len(finalData)

1031031

In [62]:
finalData.to_csv("ultimateFile.csv", sep=',')

In [84]:
finalData.reset_index()

           index                DATE  ESTACION MAGNITUD TECNICA  VALUE
0              0 2001-01-03 04:00:00  28079001        1      38  16.31
1              1 2001-01-04 04:00:00  28079001        1      38  17.04
2              2 2001-01-05 04:00:00  28079001        1      38  15.84
3              3 2001-01-06 04:00:00  28079001        1      38  15.49
4              4 2001-01-07 04:00:00  28079001        1      38  18.65
5              5 2001-01-08 04:00:00  28079001        1      38  26.98
6              6 2001-01-09 04:00:00  28079001        1      38  26.16
7              7 2001-01-10 04:00:00  28079001        1      38  30.98
8              8 2001-01-11 04:00:00  28079001        1      38  16.68
9              9 2001-01-12 04:00:00  28079001        1      38  27.39
10            10 2001-01-13 04:00:00  28079001        1      38  42.97
11            11 2001-01-14 04:00:00  28079001        1      38  38.85
12            12 2001-01-15 04:00:00  28079001        1      38  25.15
13            13 2001-01-16 04:00:00  28079001        1      38  18.67
14            14 2001-01-17 04:00:00  28079001        1      38  18.83
15            15 2001-01-18 04:00:00  28079001        1      38  18.12
16            16 2001-01-19 04:00:00  28079001        1      38  31.80
17            17 2001-01-20 04:00:00  28079001        1      38  43.13
18            18 2001-01-21 04:00:00  28079001        1      38  46.20
19            19 2001-01-22 04:00:00  28079001        1      38  38.28
20            20 2001-01-23 04:00:00  28079001        1      38  17.27
21            21 2001-01-24 04:00:00  28079001        1      38  18.86
22            22 2001-01-25 04:00:00  28079001        1      38  15.91
23            23 2001-01-26 04:00:00  28079001        1      38  12.40
24            24 2001-01-27 04:00:00  28079001        1      38  19.51
25            25 2001-01-28 04:00:00  28079001        1      38  14.93
26            26 2001-01-29 04:00:00  28079001        1      38  30.14
27            27 2001-01-30 04:00:00  28079001        1      38  52.09
28            28 2001-01-31 04:00:00  28079001        1      38  51.93
29            29 2001-02-01 04:00:00  28079001        1      38  42.59
...          ...                 ...       ...      ...     ...    ...
1031001  1031001 2017-04-01 04:00:00  28079060       14       6  92.00
1031002  1031002 2017-04-02 04:00:00  28079060       14       6  85.00
1031003  1031003 2017-04-03 04:00:00  28079060       14       6  73.00
1031004  1031004 2017-04-04 04:00:00  28079060       14       6  65.00
1031005  1031005 2017-04-05 04:00:00  28079060       14       6  81.00
1031006  1031006 2017-04-06 04:00:00  28079060       14       6  85.00
1031007  1031007 2017-04-07 04:00:00  28079060       14       6  71.00
1031008  1031008 2017-04-08 04:00:00  28079060       14       6  87.00
1031009  1031009 2017-04-09 04:00:00  28079060       14       6  87.00
1031010  1031010 2017-04-10 04:00:00  28079060       14       6  68.00
1031011  1031011 2017-04-11 04:00:00  28079060       14       6  78.00
1031012  1031012 2017-04-12 04:00:00  28079060       14       6  75.00
1031013  1031013 2017-04-13 04:00:00  28079060       14       6  75.00
1031014  1031014 2017-04-14 04:00:00  28079060       14       6  66.00
1031015  1031015 2017-04-15 04:00:00  28079060       14       6  62.00
1031016  1031016 2017-04-16 04:00:00  28079060       14       6  84.00
1031017  1031017 2017-04-17 04:00:00  28079060       14       6  66.00
1031018  1031018 2017-04-18 04:00:00  28079060       14       6  88.00
1031019  1031019 2017-04-19 04:00:00  28079060       14       6  77.00
1031020  1031020 2017-04-20 04:00:00  28079060       14       6  69.00
1031021  1031021 2017-04-21 04:00:00  28079060       14       6  77.00
1031022  1031022 2017-04-22 04:00:00  28079060       14       6  76.00
1031023  1031023 2017-04-23 04:00:00  28079060       14       6  59.00
1031024  1031024 2017-04-24 04:00:00  28079060       14       6  54.00
1031025  1031025 2017-04-25 04:00:00  28079060       14       6  56.00
1031026  1031026 2017-04-26 04:00:00  28079060       14       6  67.00
1031027  1031027 2017-04-27 04:00:00  28079060       14       6  89.00
1031028  1031028 2017-04-28 04:00:00  28079060       14       6  89.00
1031029  1031029 2017-04-29 04:00:00  28079060       14       6  56.00
1031030  1031030 2017-04-30 04:00:00  28079060       14       6  68.00

[1031031 rows x 6 columns]

In [133]:
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model

# Load scikit's random forest classifier library
from sklearn.ensemble import RandomForestClassifier

# Load numpy
import numpy as np

from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
bagging = BaggingClassifier(KNeighborsClassifier(), max_samples=0.5, max_features=0.5)

In [104]:
# Create a random forest classifier. By convention, clf means 'classifier'
clf = RandomForestClassifier(n_jobs=2)

In [142]:
# Se obtiene una muestra de datos
finalData = finalData[finalData['MAGNITUD']==6]

finalData_x_test  = finalData['DATE'][:-85264]

finalData_x_train = finalData['DATE'][-85264:]
finalData_y_train = finalData['VALUE'][-85264:]

In [140]:
len(finalData_x_test)

85264

In [148]:
plt.plot(fina, finalData_y_train, 'green')
plt.show

TypeError: float() argument must be a string or a number

NameError: name 'RandomForestClassifier' is not defined